/* ------------------- mediaquery ------------------- */
@media(min-width:420px){

	#fixednav{
	position:fixed;top:0;left:100vw;
	box-sizing:border-box;
	width:50vw;height:100vh;
	z-index:200;
	background:rgba(200,200,200,.8);
	border-left:3px solid white;
	overflow:visible;
	transition:transform 200ms ease-in-out;
	}
		#menuactivate{
			z-index:210;
			position:absolute;left:-45px;top:0;
			width:45px;height:30px;
			cursor:pointer;
		}

		.class2act{
			transform: translate(-50vw);
		}






	#frameabout{		
		background:silver;
		/*z-index:-100;*/
	}
		.whitefilter{
			display:none;
			z-index:4;
			position:absolute;top:0;left:0;
			width:100%;height:100vh;background:rgba(235,235,235,.5);
	}
		.whereareyou{
			font-size:8.5rem;
			font-family:'Roboto Mono',monospace;
			line-height:170px;letter-spacing:4px;
			position:absolute;top:50%;transform:translateY(-50%);
			color:rgba(45,45,45,.6);
			z-index:7;
		}
		.wherecolor{color:rgba(205,5,15,.6)}
		.fillerheight{height:0;}
		.letteranimate{transition:color 100ms ease-out,transform 200ms ease-in;}
		.triggerletteranimate{
			color:rgba(205,5,15,.7);
			transform:translateY(-1.7rem);
		}
		.imgholder{
			width:500px;height:650px;
			position:absolute;z-index:5;
			top:50%;
			left:50%;transform:translate(-50%,-50%);
		}
			.imgholder ul li span{opacity:.8;}
			.imgholder ul li:nth-child(1) span{background:url(/src/media/imgs/qvs.jpg);}
			.imgholder ul li:nth-child(2) span{background:url(/src/media/imgs/qvqv.jpg);}
			.imgholder ul li:nth-child(3) span{background:url(/src/media/imgs/qqv.jpg);}
		.qvtitle{
			position:absolute;top:50%;transform:translateY(-50%);
			font-size:10rem;line-height:140px;z-index:8;
			color:rgba(255,255,255,.8);
			text-shadow:1px 1px 7px rgba(70,70,70,.3);
		}

	#frameverse{padding:0 10vw;}
		.versetext h3{font-size:3rem;}
		.versetext p{font-size:1.5rem;}



		.cc{
			width:400px;
			top:50%;left:10vw;transform:translate(0, -50%);
		}


		#scheduledevents{
			background:rgba(245,245,245,.6);			
			position:absolute;top:3rem;right:10vw;bottom:3rem;left:10vw;
			overflow:hidden;
		}
			.inner{display:inline-block;width:500px;position:absolute;left:50%;transform:translate(-50%);}
			#scheduledevents h3{font-size:2.5rem;padding:1rem 0;text-align:center}
			#scheduledevents h4{font-size:1.5rem}
			#scheduledevents p{font-size:1.2rem;}
			dt{padding:1rem 0;}
			dd li{padding:.5rem 0 .5rem 2.5rem;}

	#framecontact button{margin-top:0;outline:none}

}
/* ------------------- end mediaquery ------------------- */