
*{margin:0;padding:0;}
a{text-decoration:none;color:inherit;}
input{outline:none;}
ul{list-style-type:none;}
textarea:focus{outline:none;}

#fixednav420{display:none;}


#fixednav,
#framemain,
#frameintro,
#frameverse,
#frameabout,
#frameservice,
#framecontact
{width:100%;position:relative;box-sizing:border-box;overflow:hidden;
font-family: 'Raleway', sans-serif;}





#fixednav{
	font-family: 'Roboto Mono',monospace;
	position:fixed;top:0;left:100vw;
	box-sizing:border-box;
	width:80vw;height:100vh;
	z-index:200;
	background:rgba(200,200,200,.8);
	border-left:3px solid white;
	overflow:visible;
	transition:transform 200ms ease-in-out;
	}
		#menuactivate{
			z-index:210;
			position:absolute;left:-28px;top:0;
			width:28px;height:24px;
			cursor:pointer;
			background:rgba(255,255,255,.8);
			transition:opacity 200ms ease-in-out;
		}
	.class2act{
			transform: translate(-80vw);
		}

		#fixednav p{text-align:center;font-size:1.5rem;}
		#fixednav p span{display:block;margin-top:10px;}

	.closenav{position:absolute;bottom:10px;right:15px;border-left:3px solid darkred;padding-left:5px;}

	#fixednavadmin{
		z-index:200;
		margin-top:10px;
	}
		#toviewadmin2 p{font-size:1rem;}
		#toviewadmin2 p input{width:6rem;}






#frameintro{
	height:100vh;
	background:url(/src/media/imgs/p2-3.jpg);
	background-position:center;
	background-size:cover;
	padding:2vh 10vw;
}
	
	.whereareyou{font-size:3.7rem;padding-top:15px;color:rgba(45,45,45,.3);font-family:'Roboto Mono', monospace;line-height:35px;letter-spacing:2px;}
	.wherecolor{color:rgba(205,5,15,.3);}
	.fillerheight{height:25px;}
	.letteranimate{transition:color 200ms ease-in-out,transform 200ms ease-in}
	.triggerletteranimate{
		color:rgba(205,5,15,.7);
		transform:translateY(-12px);
	}
	.imgholder{}
		.imgholder span{
			width: 100%;
		    height: 100%;
		    position: absolute;
		    
		    background-size: cover;
		    background-position: center;
		    background-repeat: none;
		    /*opacity: 0;*/display:none;
		    z-index: 1;
		}
	.qvtitle{
		position:absolute;right:0;padding-right:10vw;bottom:200px;
		color:white;
		text-align:right;
		font-family:'Bungee',cursive;
		font-size:3rem;line-height:45px
	}
	.introfooter{
		width:100%;height:40px;position:absolute;bottom:0;left:0;
		background:rgb(245,245,245);z-index:20;
	}
		.introfooter p{position:absolute;left:50%;bottom:0;transform:translateX(-50%);}


.mana{font-family: 'Rock Salt', cursive;}
p.mana{font-size:.9rem;line-height:1.2rem;}


#frameverse{
	height:40vh;
	background:rgb(245,245,245);
}
	.versetext{position:absolute;width:80vw;top:50%;left:50%;transform:translate(-50%,-50%);}
	.versetext h3{font-size:1.25rem;}
	.versetext p{font-size:.75rem;}









#frameabout{overflow-y:scroll;
	height:100vh;
	background:linear-gradient(180deg, rgba(180,140,130,.8), rgba(35,70,160,.6)),url(/src/media/imgs/qvcross.jpg);
	background-size:cover;background-position:center;
}
	#aboutframe{
		margin:5vh 10vw;
		width:calc(100% - 20vw);height:90vh;
	}
	#aboutframe h3{font-size:2rem;}
	.abouttext{background:rgba(235,235,235,.6);padding:.5rem;margin-top:7px;}
	.abouttext p{padding:.25rem 0;}

	#aboutministry{margin-top:10px;color:white;margin-bottom:20px;}
	#aboutministry p{padding:5px 0;}


#frameservice{
	height:100vh;
	background:linear-gradient(90deg, rgba(50,140,230,.6), rgba(15,70,130,.8)), url(/src/media/imgs/photo1-1.jpg);
	background-size:auto, cover;
}
	#scheduledevents{
		background:rgba(245,245,245,.6);
		padding:.25rem;
		position:absolute;top:1rem;right:10vw;bottom:1rem;left:10vw;
		overflow:hidden;
	}

		#scheduledevents h3{font-size:1.5rem;padding:1rem 0;text-align:center}
		#scheduledevents h4{font-size:1rem;cursor:pointer;}
		#scheduledevents p{font-size:.85rem;}
		dt{padding:.5rem 0;}
		dd li{padding:.25rem 0 .25rem 1rem;}



#framecontact{
	height:100vh;
	
		background:linear-gradient(90deg, rgba(255,255,255,.4), rgba(255,255,255,.7)),url(/src/media/imgs/connect2.jpeg);
		background-size:cover;
		background-position:center,center;
	}
		.cc{
			width:100%;height:90vh;
			background:rgba(255,255,255,.7);
			position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);

		}
			.cc h1{text-align:center;padding:1.25rem 0 1.75rem 0;line-height:2.5rem;}
			.cc .donate{
				width:100%;
				background-color:white;
				position:absolute;bottom:0;left:0;padding:10px 0;
			}
			.donate h4{text-align:center}




			#donatemodal{
				display:none;
				z-index:300;
				position:absolute;top:0;left:0;
				width:100%;height:100vh;
				background-color:rgba(255,255,255,.9);
			}

				#donatefield{
					width:250px;height:400px;
					position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
					background:white;
					border:2px solid pink;
					
				}
					.donateheader{width:100%;display:flex;justify-content:space-around;padding-top:10px;}

					.donateinputs{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
					
					#donatefield input{width:175px;}
					#donatefield textarea{width:177px;height:100px;}
					#donatefield .close{
						border:1px solid pink;padding:5px;display:inline-block;
						position:absolute;bottom:10px;left:50%;transform:translate(-50%);
					}

		#formsignup{position:absolute;left:50%;transform:translateX(-50%);}
		#formsignup input,#formsignup select,#formsignup button{font-size:1.2rem;border-radius:5px;margin:.45rem 0;padding:.25rem;}
		#formsignup select{padding:2px 0;}
		#formsignup button{background:lavenderblush;margin-top:5px;}





#frameadmin{
	width:100%;
	font-family: 'Saira Condensed', sans-serif;
	color:rgb(51,51,51);
}
	#adminmembers{background:papayawhip;}
	#frameadmin h4{font-size:.9rem;}
	#frameadmin p{font-size:.8rem;}

	.qv_members{padding:.25rem 0 .125rem 0;border-bottom:.5px solid silver;}
	.qv_members:nth-of-type(odd){background:rgb(230,230,230);}
	.qv_members:last-of-type{border-bottom:none;}
	.qv_members h4, .emailphone{
		display:flex;justify-content:space-between;
	}
	.qv_members .spanid{width:3rem;}
	.qv_members .spanphone{width:8.5rem;}

	#frameadmin input{
		font-size:.8rem;padding:.05rem;margin:3px 0;
		border:.5px solid silver;border-radius:3px;
	}
	.inputid{width:2rem;}



#stateda{width:100%;position:relative;}
	#showdonationinfo{}
	#showdonationinfo h3{text-align:center;}
	.makeflex{display:flex;justify-content:space-around;}
	.makeflex span{
		padding:2px 0;
		width:50%;background:rgb(240,240,240);
		border:.5px solid silver;
	}

.donatedamounts{display:block;margin:0 auto;position:relative;width:125px;}
.spanamountsid,.spanamounts{display:inline-block;}
.spanamountsid{width:2rem;}
.spanamounts{width:4rem;}



/*
#frameintro
,#frameabout
,#frameverse
,#frameservice
,
#framecontact
{display:none;}
*/